* {
  margin: 0;
  padding: 0;
  outline: 0;
}
body {
  background-color: #54bab9;
}
.container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #18978f;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 1);
  width: 460px;
  height: 600px;
  text-align: center;
}
h1 {
  margin: 12px 0;
}
.add-element {
  margin: 12px 0;
}
input {
  padding: 6px 4px;
  width: 70%;
}
button {
  padding: 7px 14px;
  background-color: #e9dac1;
  border: none;
  border-radius: 4px;
  color: #1a4d2e;
}
.element-list {
  height: 550px;
  overflow: auto;
}
ul {
  padding: 15px;
}
li {
  list-style: none;
  padding: 10px 5px;
  background-color: #76ba99;
  margin: 12px 0;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 1);
  border-radius: 3px;
  transition: 0.4s;
}
button:hover {
  background-color: #ffffde;
}
li:hover {
  background-color: #ffffde;
}
:checked {
  text-decoration: line-through;
  background-color: #ffffde;
}
